:root {
  --cor-principal: #7587B4;
  --cor-letter: #141414;
  --color-blue-dark: #253354;
}

.cardCart-Container {
  background-color: var(--cor-principal);
  color: var(--cor-letter);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 100vh;
  justify-content: space-evenly;
  justify-self: center;
}

.containerItem {
  width: 400px;
  display: flex;
}