.aside {
  align-self: flex-start;
  border: 1px solid #f5ecec;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  min-width: 260px;
  max-width: 260px;
  margin-bottom: 10px;
  margin-left: 10px;
  padding: 20px;
}

#label-category-btn {
  display: flex;
  margin-bottom: 9px;
}

input {
  margin-right: 7px;
}
