.preview {
  background-color: #883e06;
  color: rgb(235, 235, 235);
  display: inline-block;
  height: 26px;
  left: 3vmax;
  padding: 0.25em;
  position: relative;
  text-align: center;
  text-decoration: none;
  top: -32.3%;
}

[data-testid="shopping-cart-button"] {
  height: 80px;
}
