.preview {
  background-color: #883e06;
  color: rgb(235, 235, 235);
  display: inline-block;
  height: 26px;
  left: 31px;
  padding: 0.25em;
  position: relative;
  text-align: center;
  text-decoration: none;
  bottom: 23px;
}

[data-testid="shopping-cart-button"] {
  height: 70px;
}
